<!DOCTYPE html>
<head>
<title>


</title>
<link rel="stylesheet" href="/css/styles.css">
</head>

<body>

{{>header}}

This site is to know about weather related information. Implemented with the help of mapbox and weatherstack apis.


<img src="/img/hexware.jpg">
{{>footer}}
</body>
</html>